* {
	-webkit-tap-highlight-color: transparent;
}

#p_prldr{
	position: fixed;
	left: 0;
	top: 0;
	right:0;
	bottom:0;
	background: #FFFFFF;
	z-index: 30;
}
 
.contpre small{font-size:25px;}
 
.contpre{
	width: 250px;
	height: 100px;
	position: absolute;
	left: 50%;top: 48%;
	margin-left:-125px;
	margin-top:-75px;
	color:#000000;
	font-size:40px;
	letter-spacing:-2px;
	text-align:center;
	line-height:35px;
}
 
#p_prldr .svg_anm {
	position: absolute;
	width: 41px;
	height: 41px;
	background: url(css/ext/img/anim.svg) center center no-repeat;
	background-size:41px;    
	margin: -16px 0 0 -16px;
}

#menu {
	position:absolute;
	top:17px;
	right:17px;
	width:50px;
	height:50px;
	z-index: 5;
	background-color:white;
	border-radius:10px;
}

#logo_tele2 {
	position:absolute;
	bottom:0px;
	left:17px;
	width:50px;
	height:50px;
	z-index: 5;
}

html, body, #map {
  /*height: 100vh;*/
    height: 100%;
	width: 100%;
	margin: 0px;
	display: flex;
	flex-direction: row;
	font-family: 'Tele2DisplaySerif-Regular';
}

body {
	overflow: hidden !important;
}

ul {
	align-items: center;
	padding-inline-start: 0px;
}



/* ÐºÐ¾Ð½Ñ‚ÐµÐ¹Ð½ÐµÑ€ sidebar */
@font-face {
  font-family: 'Tele2DisplaySerif-Regular';
  src: url('font/Tele2DisplaySerif-Regular.otf?2f1ce1');
  src: url('font/Tele2DisplaySerif-Regular.otf?7147309#iefix') format('opentype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "Tele2DisplaySerif-Regular";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-layers:before {
  /*content: '\e82e';*/
  content: url('ext/img/icon_s.png');
  display: inherit;
  position: relative;
  bottom: 15px;
  left: -3px;
}

.button-cont {
    padding-left: 5%;
    padding-right: 5%;
}

.button-in-popup {
    width: 100%;
    border: 0;
    height: 35px;
    align-self: center;
    background-color: paleturquoise;
    border-radius: 8px;
}

.icon-refresh:before {
  content: '\î °';
}

.icon-link:before {
  content: '\î ²';
}

/* ÐºÐ¾Ð½Ñ‚ÐµÐ¹Ð½ÐµÑ€ sidebar */
.editor-sidebarContainer {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: width .5s ease;
  transition: width .5s ease;
  z-index: 20;
}

.TreeView.svelte-147f2mc {
	width: 260px !important;
}

.leaflet-popup-content textarea {
	max-width: 300px !important;
	min-width: 200px !important;
	border-width: 0px !important;
	min-height: 60px !important;
}

.leaflet-gmx-locationTxt {
visibility: hidden;
}

.editor_sidebarExpanded.editor-sidebarContainer {
  width: 500px;
}


.leaflet-popup-content-wrapper {
	max-width: 345px !important;
}


/* ÐºÐ¾Ð½Ñ‚ÐµÐ¹Ð½ÐµÑ€ ÐºÐ°Ñ€Ñ‚Ñ‹ */

.tabIcon svg {
    width: 26px;
    height: 40px;
}

/*	for scrollbar	*/
::-webkit-scrollbar
{
	display: none;
	cursor: pointer;
	width: 4px;  /* for vertical scrollbars */
	height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.5);
}

/* ÐºÐ¾Ð½Ñ‚ÐµÐ¹Ð½ÐµÑ€ SidebarControl */
.overlays-options-footer .leaflet-gmx-iconSvg {
    height: 40px;
}
.overlays-options-footer svg {
    height: 32px;
    width: 32px;
}

.leaflet-right.leaflet-top.leaflet-bottom.gmx-bottom-shift {
	top: 36%;
}

.opened {
	color: #f57c00;
}
.closed {
	color: #757575;
}

.scanex-sidebar .tabs > div {
  padding: 0;
  cursor: pointer;
  transition: all 0.23s ease;
  opacity: 0.9;
}

.scanex-sidebar .tabs > div:hover {
  opacity: 1.0;
}
.scanex-sidebar .panes > div[data-pane-id="treeView"] {
	width: 300px;
}

.scanex-sidebar {	
  font-family: 'Tele2DisplaySerif-Regular';
	font-size: 12px;	
}

.TreeView {
	max-height: calc(100vh - 128px);
	border: 1px solid;
}

.scanex-sidebar .tabs {
	background-color: white;
	display: block;
}

.dark .noselect.leaflet-control {
	margin: initial;
}

.dark .scanex-sidebar .tabs {
    background: white;
    height: 27px;
    width: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 25px;
    padding-left: 7px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 10px;
}

.dark .opened {
	color: white;
}

.dark .closed {
	color: lightgray;
}

.dark .TreeView {
    height: auto;
    border-radius: 15px;
    border: 0px;
    margin-left: 15px;
    margin-top: 15px;
}

.dark .gmxTimeline.leaflet-control {
	left: 145px;
	right: 48px;
}

.dark .gmxTimeline.shiftTimeline.leaflet-control {
	left: 490px;
}

.dark .ace_scrollbar-v {
	width: 4px;
	background-color: beige;
}

.dark span.expander::before {
	content: url('ext/img/small.svg');
	/*content: url('data:image/svg+xml;utf8, <svg width="28" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.75 9.75L8.25 6l-4.5-3.75v7.5z" fill="#394B59"/><path d="M16 6v5.25c0 .45.3.75.75.75h10.5c.45 0 .75-.3.75-.75V6H16zM28 4.5V3c0-.45-.3-.75-.75-.75H22.3L20.275.225A.68.68 0 0 0 19.75 0h-3c-.45 0-.75.3-.75.75V4.5h12z" fill="#BFCCD6"/></svg>');*/
	display: inline-block;
	position: relative;
	float: left;
	padding-right: 3px;
	height: 12px;
}

.dark input.expander:checked+span.expander::before {
	content: url('ext/img/small-o.svg');
	/*content: url('data:image/svg+xml;utf8, <svg width="28" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2.25 3.75L6 8.25l3.75-4.5h-7.5z" fill="#394B59"/><g clip-path="url(#clip0)" fill="#BFCCD6"><path d="M27.85 5.55c-.15-.15-.375-.3-.6-.3H19c-.3 0-.6.15-.675.45l-2.25 5.25c-.15.45 0 1.05.675 1.05H25c.3 0 .6-.15.675-.45l2.25-5.25c.15-.225.075-.525-.075-.75z"/><path d="M16.9 5.1A2.308 2.308 0 0 1 19 3.75h6.75v-1.5c0-.45-.3-.75-.75-.75h-4.2L19.525.225A.68.68 0 0 0 19 0h-2.25c-.45 0-.75.3-.75.75v6.525l.9-2.175z"/></g><defs><clipPath id="clip0"><path fill="#fff" transform="translate(16)" d="M0 0h12v12H0z"/></clipPath></defs></svg>');*/
	display: inline-block;
	position: relative;
	float: left;
	padding-right: 3px;
	height: 12px;
}

.dark .TreeView li.line ul.group.css-treeview li.line.group::after {
	border-left: 1px solid #D8E1E8;
	display: block;
	position: absolute;
	content: '';
}

.dark .TreeView li.line ul.group.css-treeview li.line:last-child:before {
	display: block;
	border-left: 3px solid #FFF;
	position: absolute;
	content: '';
	z-index: 1;
	border-top: 1px solid #D8E1E8;
	top: 10px;
	width: 11px;
}

.dark .TreeView>li.line {
	position: relative;
	bottom: 3px;
}

.legendIconCell {
	position: relative;
}

.legendIconCell .point {
	position: relative;
}

.legend-cont span.legendIconCell {
	position: relative;
	z-index: 2;
}

.pointer.title::before {
	content: '';
	display: block;
	width: 5px;
	height: 50%;
	position: absolute;
	z-index: -1;
}

.dark ul li.line .mega:hover .pointer.title::before {
	content: '';
	display: block;
	width: 5px;
	height: 50%;
	position: absolute;
	z-index: -1;
}

.dark .expanderCont {
	position: relative;
	top: -5px;
	padding-right: 0;
	z-index: 0;
	background: transparent;
}

.dark .legend-cont {
	float: left;
	position: relative;
}

.gmx-style-legend {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow-x: hidden;
	padding-top: 5px;
}

input.check {
	width: 14px;
	height: 14px;
	position: relative;
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (min-width: 1025px) {
	.dark span.expander::before {
		width: 27px;
		top: 3px;
		left: 6px;
	}
	.dark input.expander:checked+span.expander::before {
		width: 27px;
		top: 3px;
		left: 6px;
	}
	.dark .TreeView li.line ul.group.css-treeview li.line.group::after {
		height: calc(100% - 40px);
		left: 27px;
		top: 21px;
		width: 9px;
	}
	.dark .TreeView li.line ul.group.css-treeview li.line:last-child:before {
		height: calc(100% - 15px);
		left: -10px;
	}
	.dark .TreeView>li.line {
		left: -7px;
		width: 100%
	}
	.legendIconCell {
		top: 3px;
	}
	.legendIconCell .point {
		position: relative;
	}
	.legend-cont span.legendIconCell {
		top: 0;
	}
	.pointer.title::before {
		border-left: 2px solid transparent;
		top: 14px;
		left: -16px;
	}
	.dark ul li.line .mega:hover .pointer.title::before {
		border-left: 2px solid transparent;
		top: 14px;
		left: -16px;
	}
	.dark .expanderCont {
		margin-left: -16px;
	}
	.dark .legend-cont {
		left: -7px;
	}
	.gmx-style-legend {
		width: 100vw;
	}
	input.check {
		top: 2px;
	}
	body.OSX input.check {
		left: 1px;
		top: 0;
	}
	.dark .cont {
		left: 2px;
	}
	span.cont>label.pointer.title {
		position: relative;
		left: 3px;
		display: inline-flex;
		width: calc(100% - 73px);
		word-break: break-word;
	}
	span.legendIconCell+label.pointer.title {
		position: relative;
		left: 6px;
		margin-left: -6px;
		display: inline-flex;
		width: calc(100% - 85px);
		word-break: break-word;
	}
	input.check+label.pointer.title {
		position: relative;
		left: 0px!important;
		display: inline-flex;
		width: calc(100% - 85px);
		word-break: break-word;
	}
	input.check+label.pointer.title+.description {
		margin-left: 0;
		width: calc(100% - 27px);
		padding-left: 27px;
	}
	span.legendIconCell+label.pointer.title+.description {
		margin-left: 0;
		width: calc(100% - 43px);
		padding-left: 43px;
	}
	input.check+label.pointer.title.multiStyles+.description {
    margin-left: 0;
    width: calc(100% - 43px);
    padding-left: 43px;
	}
	/*.dark input.expander:checked+span.expander::after {
    	content: '';
    	display: block;
    	width: 5px;
    	height: 20px;
    	position: absolute;
    	z-index: -1;
    	border-left: 1px solid #D8E1E8;
    	left: -10px;
    	bottom: -29px;
	}*/
	/*.OSX input.expander:checked+span.expander::after {
    	content: '';
    	display: block;
    	width: 5px;
    	height: 20px;
    	position: absolute;
    	z-index: -1;
    	border-left: 1px solid #D8E1E8;
    	left: -8px;
    	bottom: -29px;
	}*/
	.dark .group.css-treeview ul {
	padding-inline-start: 37px;
	}

	body.OSX .group.css-treeview ul {
	padding-inline-start: 35px;
	}
}

@media screen and (-webkit-min-device-pixel-ratio:0) and (max-width: 1024px) {
	.dark span.expander::before {
		width: 27px;
		top: 5px;
		left: 6px;
	}
	.dark input.expander:checked+span.expander::before {
		width: 27px;
		top: 5px;
		left: 6px;
	}
	.dark .TreeView li.line ul.group.css-treeview li.line.group::after {
		height: calc(100% - 40px);
		left: 27px;
		top: 21px;
		width: 9px;
	}
	.dark .TreeView li.line ul.group.css-treeview li.line:last-child:before {
		height: calc(100% - 15px);
		left: -10px;
	}
	.dark .TreeView>li.line {
		left: -7px;
		width: 100%
	}
	.legendIconCell {
		top: 3px;
	}
	.legendIconCell .point {
		position: relative;
	}
	.legend-cont span.legendIconCell {
		top: 0;
	}
	.pointer.title::before {
		border-left: 2px solid transparent;
		top: 14px;
		left: -16px;
	}
	.dark ul li.line .mega:hover .pointer.title::before {
		border-left: 2px solid transparent;
		top: 14px;
		left: -16px;
	}
	.dark .expanderCont {
		margin-left: -19px;
	}
	.dark .legend-cont {
		left: -7px;
	}
	.gmx-style-legend {
		width: 100vw;
	}
	input.check {
		top: 2px;
	}
	body.OSX input.check {
		left: 1px;
		top: 0;
	}
	.dark .cont {
		left: 2px;
	}
	span.cont>label.pointer.title {
		position: relative;
		left: 3px;
		display: inline-flex;
		width: calc(100% - 73px);
		word-break: break-word;
	}
	span.legendIconCell+label.pointer.title {
		position: relative;
		left: 6px;
		margin-left: -6px;
		display: inline-flex;
		width: calc(100% - 85px);
		word-break: break-word;
	}
	input.check+label.pointer.title {
		position: relative;
		left: 0px!important;
		display: inline-flex;
		width: calc(100% - 85px);
		word-break: break-word;
	}
	input.check+label.pointer.title+.description {
		margin-left: 0;
		width: calc(100% - 27px);
		padding-left: 27px;
	}
	span.legendIconCell+label.pointer.title+.description {
		margin-left: 0;
		width: calc(100% - 43px);
		padding-left: 43px;
	}
	input.check+label.pointer.title.multiStyles+.description {
    margin-left: 0;
    width: calc(100% - 43px);
    padding-left: 43px;
	}
	/*.dark input.expander:checked+span.expander::after {
    	content: '';
    	display: block;
    	width: 5px;
    	height: 20px;
    	position: absolute;
    	z-index: -1;
    	border-left: 1px solid #D8E1E8;
    	left: -10px;
    	bottom: -29px;
	}*/
	/*.OSX input.expander:checked+span.expander::after {
    	content: '';
    	display: block;
    	width: 5px;
    	height: 20px;
    	position: absolute;
    	z-index: -1;
    	border-left: 1px solid #D8E1E8;
    	left: -8px;
    	bottom: -29px;
	}*/
	.dark .group.css-treeview ul {
	padding-inline-start: 37px;
	}

	body.OSX .group.css-treeview ul {
	padding-inline-start: 35px;
	}
}

@media not all and (min-resolution:.001dpcm) {
	.dark span.expander::before {
		width: 32px;
		top: 6px;
		left: 2px;
	}
	.dark input.expander:checked+span.expander::before {
		width: 32px;
		top: 6px;
		left: 2px;
	}
	.dark .TreeView li.line ul.group.css-treeview li.line.group::after {
		height: calc(100% - 27px);
		left: 20px;
		top: 21px;
		width: 15px;
	}
	.dark .TreeView li.line ul.group.css-treeview li.line:last-child:before {
		height: calc(100% - 15px);
		left: -22px;
	}
	.dark .TreeView>li.line {
		left: -27px;
		width: 107%;
	}
	.legendIconCell {
		top: 3px;
	}
	.legendIconCell .point {
		top: 0;
	}
	.legend-cont span.legendIconCell {
		top: 0;
	}
	.pointer.title::before {
		border-left: 1px solid transparent;
		top: 12px;
		left: -16px;
	}
	.dark ul li.line .mega:hover .pointer.title::before {
		border-left: 1px solid transparent;
		top: 12px;
		left: -16px;
	}
	.dark .expanderCont {
		margin-left: -15px;
	}
	.dark .legend-cont {
		left: -10px;
	}
	
	.gmx-style-legend {
		width: 100vw;
	}
	input.check {
		top: 0;
	}
	body.OSX input.check {
		top: 0;
		left: -1px;
	}
	input[type="radio"] {
		position: relative;
		;
		left: -1px;
	}
	.dark .cont {
		left: -1px;
	}
	span.cont>label.pointer.title {
	position: relative;
	left: 1px;
	display: inline-flex;
	width: calc(100% - 67px);
	word-break: break-word;
	}
	span.legendIconCell+label.pointer.title {
	position: relative;
	left: 6px;
	margin-left: -6px;
	display: inline-flex;
	width: calc(100% - 67px);
	word-break: break-word;
	}
	input.check+label.pointer.title {
	position: relative;
	left: 0px!important;
	display: inline-flex;
	width: calc(100% - 67px);
	word-break: break-word;
	}
	input.check+label.pointer.title+.description {
		margin-left: 0;
		width: calc(100% - 18px);
		padding-left: 18px;
	}
	span.legendIconCell+label.pointer.title+.description {
		margin-left: 0;
		width: calc(100% - 35px);
		padding-left: 35px;
	}
	input.check+label.pointer.title.multiStyles+.description {
		margin-left: 0;
		width: calc(100% - 35px);
		padding-left: 35px;
	}

	/*.dark input.expander:checked+span.expander::after {
		content: '';
		display: block;
		width: 5px;
		height: 20px;
		position: absolute;
		z-index: -1;
		border-left: 1px solid #D8E1E8;
		left: -19px;
		bottom: -29px;
	}*/
	/*.OSX input.expander:checked+span.expander::after {
		content: '';
		display: block;
		width: 5px;
		height: 20px;
		position: absolute;
		z-index: -1;
		border-left: 1px solid #D8E1E8;
		left: -19px;
		bottom: -29px;
	}*/
	.dark .group.css-treeview ul {
		padding-inline-start: 37px;
	}

	body.OSX .group.css-treeview ul {
		padding-inline-start: 37px;
	}
}

@-moz-document url-prefix() {
	.dark .TreeView li.line ul.group.css-treeview li.line:last-child:before {
		height: calc(100% - 15px);
		left: -12px;
	}
	.dark .TreeView>li.line {
		left: -7px;
		width: 100%;
	}
	.legendIconCell {
		top: 2px;
	}
	.legendIconCell .point {
		top: 1px;
		position: relative;
	}
	.legend-cont span.legendIconCell {
		top: -1px;
	}
	.pointer.title::before {
		border-left: 2px solid transparent;
		top: 12px;
		left: -19px;
	}
	.dark ul li.line .mega:hover .pointer.title::before {
		border-left: 2px solid transparent;
		top: 12px;
		left: -19px;
	}
	.dark .expanderCont {
		margin-left: -20px;
	}
	.dark .legend-cont {
		left: -6px;
	}
	.gmx-style-legend {
		width: 98%;
	}
	.dark .cont {
		left: 2px;
	}
	span.cont>label.pointer.title {
		position: relative;
		left: 3px;
		display: inline-flex;
		width: calc(100% - 73px);
		word-break: break-word;
		bottom: 2px;
	}
	span.legendIconCell+label.pointer.title {
		position: relative;
		left: 6px;
		margin-left: -6px;
		display: inline-flex;
		width: calc(100% - 85px);
		word-break: break-word;
	}
	input.check+label.pointer.title {
		position: relative;
		left: 0px!important;
		display: inline-flex;
		width: calc(100% - 85px);
		word-break: break-word;
		bottom: 2px;
	}
	input.check+label.pointer.title+.description {
		margin-left: 0;
		width: calc(100% - 21px);
		padding-left: 21px;
	}
	span.legendIconCell+label.pointer.title+.description {
		margin-left: 0;
		width: calc(100% - 35px);
		padding-left: 35px;
	}

	input.check+label.pointer.title.multiStyles+.description {
    	margin-left: 0;
    	width: calc(100% - 35px);
    	padding-left: 35px;
	}
	/*.dark input.expander:checked+span.expander::after {
    	content: '';
    	display: block;
    	width: 5px;
    	height: 20px;
    	position: absolute;
    	z-index: -1;
    	border-left: 1px solid #D8E1E8;
    	left: -9px;
    	bottom: -29px;
	}*/
	.dark .group.css-treeview ul {
		padding-inline-start: 37px;
	}

	body.OSX .group.css-treeview ul {
		padding-inline-start: 37px;
	}
}

.dark ul.group {
	position: relative;
}

.dark .TreeView>li.line>ul.group.css-treeview>li.line>.expander::after {
	left: 13px;
	top: -4px;
	content: '';
	display: block;
	border-left: 1px solid #ddd;
	height: 1em;
	border-bottom: 1px solid #ddd;
	width: 10px;
	position: absolute;
	display: none;
}

.dark li {
	list-style: none;
	text-overflow: ellipsis;
	width: 100%;
	float: left;
	position: relative;
	line-height: 150%;
	padding-bottom: 3px;
	white-space: initial;
	overflow-x: inherit;
}

.dark .pointer.cont-center {
	position: relative;
	top: 7px;
	content: url('ext/img/coord.svg');
	/*content: url('data:image/svg+xml;utf8, <svg width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.75 1.75h3.5V0H0v5.25h1.75v-3.5zM8.75 0v1.75h3.5v3.5H14V0H8.75zM12.25 12.25h-3.5V14H14V8.75h-1.75v3.5zM1.75 8.75H0V14h5.25v-1.75h-3.5v-3.5z" fill="#8A9BA8"/><path d="M10.5 3.5h-7v7h7v-7z" fill="#8A9BA8"/></svg>');*/
	visibility: hidden;
	float: right;
	padding-left: 5px;
	right: 3px;
}

.dark .pointer.cont-info {
	position: relative;
	top: 7px;
	/* content: url('ext/img/info.svg'); */
	/*content: url('data:image/svg+xml;utf8, <svg width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="14" height="14" rx="2" fill="#8A9BA8"/><path d="M7 4.028c-.36 0-.625-.08-.793-.24a.885.885 0 0 1-.24-.636v-.264c0-.256.08-.464.24-.624.168-.168.432-.252.792-.252.36 0 .62.084.78.252.168.16.252.368.252.624v.264a.862.862 0 0 1-.252.636c-.16.16-.42.24-.78.24zM6.11 4.7h1.776V11H6.111V4.7z" fill="#fff"/></svg>');*/
	visibility: visible;
	float: right;
	padding-left: 5px;
	right: 3px;
}
.dark .icons .cont-info {
	height: 14px;
	width: 19px;
}

.dark .icons .cont-info {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><rect width="14" height="14" rx="2" fill="rgb(138, 155, 168)"/><path d="M6.9992 4.028C6.6392 4.028 6.3752 3.948 6.2072 3.788C6.0472 3.62 5.9672 3.408 5.9672 3.152V2.888C5.9672 2.632 6.0472 2.424 6.2072 2.264C6.3752 2.096 6.6392 2.012 6.9992 2.012C7.3592 2.012 7.6192 2.096 7.7792 2.264C7.9472 2.424 8.0312 2.632 8.0312 2.888V3.152C8.0312 3.408 7.9472 3.62 7.7792 3.788C7.6192 3.948 7.3592 4.028 6.9992 4.028ZM6.1112 4.7H7.8872V11H6.1112V4.7Z" fill="white"/></svg>');
}
.dark ul li.line .mega:hover>.icons>.pointer.cont-info {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 14"><rect width="14" height="14" rx="2" fill="rgb(57, 75, 89)"/><path d="M6.9992 4.028C6.6392 4.028 6.3752 3.948 6.2072 3.788C6.0472 3.62 5.9672 3.408 5.9672 3.152V2.888C5.9672 2.632 6.0472 2.424 6.2072 2.264C6.3752 2.096 6.6392 2.012 6.9992 2.012C7.3592 2.012 7.6192 2.096 7.7792 2.264C7.9472 2.424 8.0312 2.632 8.0312 2.888V3.152C8.0312 3.408 7.9472 3.62 7.7792 3.788C7.6192 3.948 7.3592 4.028 6.9992 4.028ZM6.1112 4.7H7.8872V11H6.1112V4.7Z" fill="white"/></svg>');
}

.dark .pointer.cont-timeline {
	position: relative;
	top: 7px;
	content: url('ext/img/timeline.svg');
	/*content: url('data:image/svg+xml;utf8, <svg width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="14" height="14" rx="2" fill="#8A9BA8"/><path d="M7.65 3.102V4.66h1.084v1.242H7.65v3.164c0 .235.045.403.135.504.09.102.262.153.516.153a2.7 2.7 0 0 0 .498-.041v1.283a3.485 3.485 0 0 1-1.026.152c-1.187 0-1.793-.6-1.816-1.799V5.902h-.926V4.66h.926V3.102H7.65z" fill="#fff"/></svg>');*/
	visibility: visible;
	float: right;
	padding-left: 5px;
	right: 3px;
}

.dark ul li.line .mega:hover>.icons>.pointer.cont-timeline {
	position: relative;
	top: 7px;
	content: url('ext/img/timeline-o.svg');
	/*content: url('data:image/svg+xml;utf8, <svg width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="14" height="14" rx="2" fill="#394B59"/><path d="M7.74 11c-.617 0-1.085-.156-1.405-.468-.312-.312-.468-.768-.468-1.368V6.08H4.98V4.7h.444c.24 0 .404-.056.492-.168.088-.12.132-.288.132-.504V2.996h1.596V4.7h1.248v1.38H7.643v3.54h1.152V11H7.74z" fill="#fff"/></svg>');*/
	visibility: visible;
	float: right;
	padding-left: 5px;
	right: 3px;
}


.dark ul li.line .mega:hover>.icons>.pointer.cont-center {
	position: relative;
	top: 7px;
	content: url('ext/img/coord-o.svg');
	/*content: url('data:image/svg+xml;utf8, <svg width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.75 1.75h3.5V0H0v5.25h1.75v-3.5zM8.75 0v1.75h3.5v3.5H14V0H8.75zM12.25 12.25h-3.5V14H14V8.75h-1.75v3.5zM1.75 8.75H0V14h5.25v-1.75h-3.5v-3.5z" fill="#394B59"/><path d="M10.5 3.5h-7v7h7v-7z" fill="#394B59"/></svg>');*/
	visibility: visible;
	float: right;
	padding-left: 5px;
	right: 3px;
}

.dark ul li.line .mega:hover>.icons>.pointer.cont-info {
	position: relative;
	top: 7px;
	/* content: url('ext/img/info-o.svg'); */
	/*content: url('data:image/svg+xml;utf8, <svg width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="14" height="14" rx="2" fill="#394B59"/><path d="M7 4.028c-.36 0-.625-.08-.793-.24a.885.885 0 0 1-.24-.636v-.264c0-.256.08-.464.24-.624.168-.168.432-.252.792-.252.36 0 .62.084.78.252.168.16.252.368.252.624v.264a.862.862 0 0 1-.252.636c-.16.16-.42.24-.78.24zM6.11 4.7h1.776V11H6.111V4.7z" fill="#fff"/></svg>');*/
	visibility: visible;
	float: right;
	padding-left: 5px;
	right: 3px;
}

.dark .cont-overlays {
	position: relative;
	padding-right: 20px;
	left: 26px;
	display: none;
}

.dark .legendIconEye.enabled.pointer::before {
	content: url('ext/img/preview.svg');
	/*content: url('data:image/svg+xml;utf8, <svg width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 12.25c3.15 0 5.6-2.713 6.65-4.287.438-.613.438-1.4 0-2.013-1.05-1.487-3.5-4.2-6.65-4.2-3.15 0-5.6 2.713-6.65 4.287-.437.613-.437 1.4 0 1.926C1.4 9.537 3.85 12.25 7 12.25zm0-7.875c1.488 0 2.625 1.138 2.625 2.625 0 1.488-1.137 2.625-2.625 2.625-1.487 0-2.625-1.137-2.625-2.625 0-1.487 1.138-2.625 2.625-2.625z" fill="#394B59"/></svg>'); */
	display: inline-block;
	width: 27px;
	height: 12px;
	position: relative;
	top: -1px;
	left: 11px;
	z-index: 2;
}

.dark .legendIconEye.pointer::before {
	content: url('ext/img/preview-o.svg');
	/*content: url('data:image/svg+xml;utf8, <svg width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 12.25c3.15 0 5.6-2.713 6.65-4.287.438-.613.438-1.4 0-2.013-1.05-1.487-3.5-4.2-6.65-4.2-3.15 0-5.6 2.713-6.65 4.287-.437.613-.437 1.4 0 1.926C1.4 9.537 3.85 12.25 7 12.25zm0-7.875c1.488 0 2.625 1.138 2.625 2.625 0 1.488-1.137 2.625-2.625 2.625-1.487 0-2.625-1.137-2.625-2.625 0-1.487 1.138-2.625 2.625-2.625z" fill="#BFCCD6"/></svg>' );*/
	display: inline-block;
	width: 27px;
	height: 12px;
	position: relative;
	top: -1px;
	left: 11px;
	z-index: 2;
}

.dark .legendIconEye.enabled.pointer svg {
	display: none;
}

.dark .legendIconEye.pointer svg {
	display: none;
}

.dark .description {
	color: #808080;
	position: relative;
	left: 0;
	font-size: 11px;
	height: 100%;
	word-break: break-word;
	background: #FFF;
	z-index: 1;
	padding-top: 3px;
	padding-bottom: 3px;
	line-height: 123%;
}

.dark .description::before {
	display: block;
	position: absolute;
	width: 100vh;
	height: 94%;
	background: transparent;
	content: '';
	top: 5px;
	z-index: -1;
	left: -6px;
}

.dark li.line:hover>.cont label.title {
	font-weight: normal;
}

.dark .bgcolor {
	background-color: #EBF1F5;
	display: inline;
}

.dark .legendIconCell span {
	margin-bottom: 2px;
}

.dark .bgcolor::before {
	background-color: #EBF1F5;
	position: absolute;
	display: inline;
	width: 100vw;
	min-height: 27px;
	content: '';
	margin-left: -3px;
	z-index: 0;
}

.dark .cont {
	z-index: 1;
	position: relative;
}

.dark .gmx-style-legend:hover {
	background-color: #EBF1F5;
}

.dark label.pointer.title.multiStyles::before {
	content: url('ext/img/multi.svg');
	/*content: url('data:image/svg+xml;utf8, <svg width="12" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#fff" stroke="#A7B6C2" d="M3.5 3.5h8v8h-8z"/><path fill="#F3F7FA" stroke="#A7B6C2" d="M.5.5h8v8h-8z"/></svg>');*/
	left: -1px;
	padding-right: 7px;
	display: inline-block;
	position: relative;
	bottom: 12px;
	width: 10px;
	height: 12px;
	top: 1px;
}

.dark ul li.line .mega:hover label.pointer.title.multiStyles::before {
	content: url('ext/img/multi.svg');
	/*content: url('data:image/svg+xml;utf8, <svg width="12" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#fff" stroke="#A7B6C2" d="M3.5 3.5h8v8h-8z"/><path fill="#F3F7FA" stroke="#A7B6C2" d="M.5.5h8v8h-8z"/></svg>');*/
	left: -1px;
	padding-right: 7px;
	display: inline-block;
	position: relative;
	bottom: 12px;
	width: 10px;
	height: 12px;
	top: 1px;
}

.dark li::-webkit-scrollbar {
	display: none;
}

.dark li {
	-ms-overflow-style: none;
}

.dark .TreeView > li.line {
	overflow: hidden;
}



.dark .mega {
	padding-bottom: 3px;
	background: transparent;
	z-index: 1;
	position: relative;
}

.dark ul li.line .mega:hover {
	background-color: #EBF1F5;
}

.dark ul li.line .mega:hover .description {
	background: #EBF1F5;
}

span.linestring.legendIconStyle {
	bottom: 4px;
	position: relative;
	margin-right: 11px!important;
	margin-left: 5px;
}

.dark .leaflet-control.sidebarControl {
	margin: 0;
}

.dark .leaflet-iconLayers.shiftIconLayers {
	margin-left: 360px;
}

.dark .leaflet-iconLayers {
	padding-left: 44px;
}

.dark.noIconSidebar .leaflet-iconLayers {
	padding-left: inherit;
}

.panes .shown:before {
    content: '';
    position: absolute;
    height: 100%;
    background: #FFF;
    z-index: 3;
    margin-left: 1px;
}

img.fillPattern {
    padding-right: 3px;
}

.dark .mega::before {
    content: '';
    display: inline-block;
    position: absolute;
    height: 24px;
    width: 100%;
    left: 22px;
    background: #FFF;
}

.dark ul li.line .mega:hover {
	background-color: #EBF1F5;
}

.dark ul li.line .mega:hover:before {
	background-color: #EBF1F5;
}

.dark {outline:none;}

.dark .icons .cont-info {
    outline: none;
    user-select: none
}

.dark .icons .cont-center {
    outline: none;
    user-select: none
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.scanex-sidebar {
    display: flex;
    vertical-align: top;    
}
.scanex-sidebar .tabs,
.scanex-sidebar .panes {        
    vertical-align: top;
    display: inline-block;    
}    
.scanex-sidebar .tabs div {
    text-align: center;
    cursor: pointer;       
}
.scanex-sidebar .shown {
	display: block;
}
.scanex-sidebar .hidden {
	display: none;
}
.leaflet-iconLayers {
    pointer-events: none;
}

.leaflet-iconLayers-layersRow { display: table; pointer-events: auto; }
.leaflet-iconLayers-layerCell { display: table-cell; background-image: url('transparent-pixel.png'); /* ie9 fix */ } 

.leaflet-iconLayers_topleft .leaflet-iconLayers-layerCell, .leaflet-iconLayers_bottomleft .leaflet-iconLayers-layerCell { padding-right: 5px; }
.leaflet-iconLayers_topright .leaflet-iconLayers-layerCell, .leaflet-iconLayers_bottomright .leaflet-iconLayers-layerCell { padding-left: 5px; }

.leaflet-iconLayers_topleft .leaflet-iconLayers-layerCell, .leaflet-iconLayers_topright .leaflet-iconLayers-layerCell { padding-bottom: 5px; }
.leaflet-iconLayers_bottomleft .leaflet-iconLayers-layerCell, .leaflet-iconLayers_bottomright .leaflet-iconLayers-layerCell { padding-top: 5px; }

.leaflet-iconLayers-layer {
	display:none;
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 80px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 0 5px #000;
}

.leaflet-iconLayers-layerTitleContainer {
    display: table;
    width: 100%;
    background: rgba(255,255,255,0.6);
    height: 25%;
    padding: 0;
    border: 0;
    position: absolute;
    bottom: 0%;
    transition: bottom .35s ease;
}

.leaflet-iconLayers-layerCheckIcon {
    display: none;
    position: absolute;
    top: 3px;
    right: 3px;
    width: 18px;
    height: 18px;
    background: url('check.png');
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 4px 4px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.6);
}

.leaflet-iconLayers-layerTitle {
    display: table-cell;
    vertical-align: middle;
}

.leaflet-iconLayers-layerCell_hidden { display: none; }
.leaflet-iconLayers-layerCell_active .leaflet-iconLayers-layer { cursor: default; }
.leaflet-iconLayers-layerCell_active .leaflet-iconLayers-layerCheckIcon { display: block; }

.leaflet-gmx-iconSvg-info.svgIcon.leaflet-control {
    float: none;
}



/*---------------------------------
	    	  PRELOADER
-----------------------------------*/

.preloader {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-items: center;
	z-index: 999;
	background: #fff;
}

  .campus {
	width: 50%;
	max-width: 400px;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
  }

  .filter {
	position: absolute;
	visibility: hidden;
  }
  
  .dots {
	filter: url(#gooeyness);
	padding: 20px;
	padding-bottom: 40px;
  }
  
  .dot {
	background: rgb(162, 224, 142);
	border-radius: 50%;
	display: inline-block;
	margin-right: 15px;
	width: 25px;
	height: 25px;
  }
  
  .dot:first-child {
	animation: FirstDot 3s infinite;
  }
  
  .dot:nth-child(2) {
	animation: SecondDot 3s infinite;
  }
  
  .dot:nth-child(3) {
	animation: ThirdDot 3s infinite;
  }
  
  .dot:nth-child(4) {
	animation: FourthDot 3s infinite;
  }
  
  .dot:nth-child(5) {
	animation: FifthDot 3s infinite;
  }
  
  @keyframes FirstDot {
	0% {
	  transform: scale(1) translateX(0);
	}
	25% {
	  transform: scale(1.5) translateX(0);
	}
	50% {
	  transform: scale(1) translateX(0);
	}
	75% {
	  transform: scale(1) translateX(160px);
	}
	100% {
	  transform: scale(1) translateX(0);
	}
  }
  
  @keyframes SecondDot {
	0% {
	  transform: translateX(0px);
	}
	27% {
	  transform: translateX(-40px);
	}
	50% {
	  transform: translateX(0px);
	}
	81% {
	  transform: translateX(120px);
	}
	100% {
	  transform: translateX(0);
	}
  }
  
  @keyframes ThirdDot {
	0% {
	  transform: translateX(0px);
	}
	29% {
	  transform: translateX(-80px);
	}
	50% {
	  transform: translateX(0px);
	}
	79% {
	  transform: translateX(80px);
	}
	100% {
	  transform: translateX(0);
	}
  }
  
  @keyframes FourthDot {
	0% {
	  transform: translateX(0px);
	}
	31% {
	  transform: translateX(-120px);
	}
	50% {
	  transform: translateX(0px);
	}
	77% {
	  transform: translateX(40px);
	}
	100% {
	  transform: translateX(0);
	}
  }
  
  @keyframes FifthDot {
	0% {
	  transform: scale(1) translateX(0);
	}
	33% {
	  transform: scale(1) translateX(-160px);
	}
	50% {
	  transform: scale(1) translateX(0);
	}
	75% {
	  transform: scale(1.5) translateX(0);
	}
	100% {
	  transform: scale(1) translateX(0);
	}
  }




/*---------------------------------
	    	RIGHT MENU
-----------------------------------*/

.open-overlay,
.user {
	position: absolute;
	width: 40px;
	height: 40px;
	background: #fff;
   	border-radius: 50%;
	cursor: pointer;
	top: 15px;
	-webkit-box-shadow: -1px 1px 5px 0px rgb(95, 94, 94, .5);
	-moz-box-shadow: -1px 1px 5px 0px rgb(95, 94, 94, .5);
	box-shadow: -1px 1px 5px 0px rgb(95, 94, 94, .5);
}

.open-overlay {
	z-index: 20;
	right: 15px;
	transition: .2s ease;
}

div:focus {
	outline: none !important;
}


.open-overlay .bar-top,
.open-overlay .bar-middle, 
.open-overlay .bar-bottom,
.btn-close .line-top,
.btn-close .line-bottom {
	display: block;
	height: 2px;
	width: 16px;
	background: rgb(95, 94, 94);
	opacity: 1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: .2s ease;
}
  
.open-overlay .bar-bottom {
	margin: 5px auto;
	transition: .2s ease;
}
  
.open-overlay .bar-top {
	margin: -5px auto;
	transition: .2s ease;
}

.open-overlay:hover span {
	background: rgb(112, 231, 72);
	transition: .2s ease;
}

.open-overlay .bar-middle.open {
	opacity: 0;
}

.open-overlay .bar-top.open {
	margin: 0px auto;
	background: rgb(112, 231, 72);
	transform: translate(-50%, -50%) rotate(45deg);
}

.open-overlay .bar-bottom.open {
	margin: 0px auto;
	background: rgb(112, 231, 72);
	transform: translate(-50%, -50%) rotate(-45deg);
}

.user {
	right: 65px;
	z-index: 17;
	background-color: rgb(255, 255, 255);
}

.user .user-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
	opacity: .8;
}


.menu {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.navbar {
	position: absolute;
	height: 100%;
	background: #fff;
	z-index: 18;
	overflow: hidden;
	transition: .2s ease;
}

@media (max-width: 767px) {
	.navbar {
		width: 250px;
		right: -250px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	.navbar.open {
		right: 0%;
		width: 100%;
		transition: .2s ease;
	}

	.nav-item > .nav-link {
		font-size: 1.5em;
		font-weight: 500;
	}
}

@media (min-width: 768px) {
	.navbar {
		width: 100%;
		right: -100%;
		padding-top: 80px;
		-webkit-box-shadow: -1px 1px 5px 0px rgb(95, 94, 94, .5);
		-moz-box-shadow: -1px 1px 5px 0px rgb(95, 94, 94, .5);
		box-shadow: -1px 1px 5px 0px rgb(95, 94, 94, .5);
	}

	.navbar.open {
		right: 0%;
		width: 250px;
		transition: .2s ease;
	}

	.nav-item > .nav-link {
		font-size: 1.2em;
		font-weight: 400;
	}
}

.navbar > .side-nav {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-item {
	margin: 0.5em;
	text-align: center;
}

.nav-item > .nav-link {
	font-family: Helvetica, sans-serif;
	font-weight: 500;
	text-decoration: none;
	color: #000;
	opacity: .6;
}

.nav-item >.nav-link:hover {
	color: rgb(112, 231, 72);
	transition: .2s ease;
}


/*---------------------------------
		AUTHORIZATION MENU
-----------------------------------*/

.auth-panel {
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255, 0.8);
	opacity: 1;
	color: rgb(95, 94, 94);
	font-family: Arial, Helvetica, sans-serif;
	z-index: 100;
	overflow-x: hidden;
	overflow-y: auto;
	align-items: center;
	justify-content: center;
}

.hide {
	display: none;
}

.auth {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fff;
	opacity: 1;
	z-index: 110;
	font-size: 18px;
	border-radius: 0.5%;
	-webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.1);
}

@media (min-width: 768px) {
	.auth {
		width: 500px;
		height: 610px;
	}
}

@media (max-width: 767px) {
	.auth {
		width: 100%;
		height: 100%;
	}
}

.btn-close {
	display: block;
	position: absolute;
	width: 40px;
	height: 40px;
	cursor: pointer;
	top: 15px;
	right: 15px;
}

.btn-close .line-top {
	transform: translate(-50%, -50%) rotate(45deg);
}

.btn-close .line-bottom {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.substrate {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

.campus-auth {
	width: 200px;
}

.sign-in-text {
	margin-top: 10px;
	width: 300px;
	text-align: center;
}

.sign-in-text--h3 {
	color: inherit;
	font-size: 18px;
	font-weight: 300;
	font-stretch: normal;
}

.auth-methods {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 300px;
	padding-top: 20px;
}

.auth-button {
	display: flex;
	align-items: center;
	width: 200px;
	height: 40px; 
	margin: 7px;
	border-radius: 5px;
	border: 1px solid rgb(162, 224, 142);
	cursor: pointer;
}

.auth-button:hover {
	border: 1px solid rgb(135, 185, 118);
}

.mer {
	font-size: 16px;
	margin-left: 15px;
	margin-right: 15px;
}

.social-icon {
	width: 15px;
	height: 15px;
	margin-right: 10px;
}
